body{
  padding: 20px;
}

.login-form {
  max-width: 400px;
  height: 430px;
  margin: auto;
  padding: 30px 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 20px #cccccc;
  text-align: center;
}

.form-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #000000;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #8e8e8e;
}

.form-group input {
  width: 90%;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #fafafa;
}

button[type="submit"] {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #3897f0;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  background-color: #38a3f0;
}

@media (max-width: 500px) {
  .login-form {
    max-width: 250px;
  }
}







